body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
  background-image: url(./img6.jpg);

}

#upload-form {
  display: inline;
  float: left;
  /* float: right; // this has no effect because the grid structure */
}

.imp {
  background-color: white;
  width: 360px;
}
#show-fav {
  float:left;
}
#trend-btn {
  float: left;
}

#myForm {
  float: right;
}
.nav {
  /* border: 4px solid  	#A0522D; */
  text-align: center;
  width: auto;
}

#container {
  width: 100%;
  margin: auto auto;
  columns: 4;
  margin-top: 15px;
  /* column-gap: 40px; */
}

#container .box {
  width: 100%;
  margin-left: 10px;
  padding: 20;
  
  background: transparent;
  overflow: hidden;
  break-inside: avoid;
  text-align: center;
  margin-bottom: 30px;
}
#container .box:hover{
  color: white;
}

#container .box img {
  max-width: 100%;
  width: 270px;
}

#container .box h2 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px
}

#container .box p {
  float: left;
}

img {
  width: 100%;
  margin-bottom: 15px;
}


.img-info {
  text-align: center;
  color: white;
}

.gif {
  max-width: 100%;
  max-height: 100%;
}

span {
  font-weight: bold;
}

.bi {
  color: white;
}

.bi:hover {
  color: red;
}

.red {
  color: red;
}



.a {
  
  color: #fff !important;
  font-family: URW Chancery L, cursive;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  /* background:transparent; */
  background-color: rgba(124, 230, 18, 0.200);
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  outline:none;
  }

.a:hover {
  background:   	#228B22;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }


.b {
  color: #fff !important;
  font-family: URW Chancery L, cursive;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  background:  	transparent ;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  /* border: none; */
  transition: all 0.4s ease 0s;
  outline:none;

}

.b:hover {
  background:  	#228B22;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }

  #search-bar {
    border-color: rgba(124, 230, 18, 0.273);
  }

  .b:focus::placeholder {
    color: transparent;
  }